<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Face Detector</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{
    url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1 id="title">Python Face Detector</h1>
    <div id="video-container">
      <!-- STREAM DISPLAY -->
      {% if is_streaming %}
        <img id="video-stream" src="{{ url_for('video_stream') }}" >
      {% endif %}
      {% if not is_streaming %}
        <img id="video-stream" src="https://via.placeholder.com/800x450" />
      {% endif %}
      <!-- CAMERA STATUS -->
      <div id="cam-status">
        {% if is_streaming %}
          <div>CAM ON </div>
          <div class="cam-status__green-light"></div>
        {% endif %}
        {% if not is_streaming %}
          <div>CAM OFF </div>
          <div class="cam-status__red-light"></div>
        {% endif %}
      </div>
    </div>
    <div id="algo-select">
      <label for="algo">Detection Algorithm:</label>
      <select name="algo">
        <option value="face">Face</option>
        <option value="eyes-no-gl">Eyes (no glasses)</option>
      </select>
    </div>
    <form id="controls">
      <!-- STREAM CONTROLS -->
      {% if is_streaming %}
        <input type="button" id="stop-stream" value="Stop Stream"/>
      {% endif %}
      {% if not is_streaming %}
        <input type="button" id="start-stream" value="Start Stream"/>
      {% endif %}
      <!-- <button id="ping">Ping</button> -->
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $('#algo-select > select').on('change', (e) => {
        e.preventDefault()
        const data = e.target.value
        $.get(`/algo_select/${data}`, (res) => {
          console.log(res)
        } )
      })

      $(() => {
        $('#start-stream').on('click', (e) => {
          e.preventDefault()
          $.get('/stream_start', (res) => {
            res && location.replace('/stream_start')
            })
        })

        $('#stop-stream').on('click', (e) => {
          e.preventDefault()
          $.get('/stream_stop', (res) => {
            res && location.replace('/stream_stop')
            })
        })

        // $('#ping').on('click', (e) => {
        //   e.preventDefault()
        //   const data = 'Hello'
        //   $.get(`/test_route/${data}`, (res) => {
        //     console.log(res)
        //     // res && location.replace('/stream_stop')
        //   } )
        // })
      })
</script>
  </body>
</html>
