<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Face Detector</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{
    url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <h1 id="title">Python Face Detector</h1>
    <div id="video-container">
      <!-- STREAM DISPLAY -->
      {% if stream %}
        <img id="video-stream" src="{{ url_for('video_stream') }}" />
      {% endif %}
      {% if not stream %}
        <img id="video-stream" src="https://via.placeholder.com/800x450" />
      {% endif %}
    </div>
    <form id="controls">
      <!-- STREAM CONTROLS -->
      {% if stream %}
        <input type="button" id="stop-stream" value="Stop Stream" onclick="location.href='/stream_stop'"/>
      {% endif %}
      {% if not stream %}
        <input type="button" id="start-stream" value="Start Stream" onclick="location.href='/stream_start'"/>
      {% endif %}
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(() => {
        $('#start-stream').on('click', (e) => {
          e.preventDefault()
          console.log("The stream has started")
          $.getJSON('/stream_start',
              () => {
            (data)
          });
        });

        $('#stop-stream').on('click', (e) => {
          e.preventDefault()
          console.log("The stream has ended")
          $.getJSON('/stream_stop',
              () => {
            (data)
          });
        });
      });
</script>
  </body>
</html>
