* {
  box-sizing: border-box;
}

#title {
  text-align: center;
  color: rgb(82, 106, 240);
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

#video-stream {
  max-width: 800px;
  width: 100%;
  height: auto;
  border: 5px solid rgb(82, 106, 240);
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls input {
  width: 150px;
  height: 50px;
  margin: 0 0.5rem;
  background-color: rgb(82, 106, 240);
  color: white;
  border: 2px solid rgb(26, 58, 240);
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: bold;
}
#controls input:hover {
  background-color: rgb(26, 58, 240);
  cursor: pointer;
}
#controls input:active {
  background-color: rgb(26, 58, 240);
  transform: scale(0.95);
}

#cam-status {
  display: inline-flex;
  position: absolute;
  right: 0;
  bottom: -25px;
}
.cam-status__red-light {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
  margin-left: 5px;
}
.cam-status__green-light {
  width: 20px;
  height: 20px;
  border: 1px solid greenyellow;
  border-radius: 50%;
  background-color: greenyellow;
  margin-left: 5px;
}
